@model ProjetFinal.Models.BookModel

@{
    ViewBag.Title = Model.Title;
}

@Html.HiddenFor(m => m.Price, new { id="_price" })
@Html.Hidden("ConfirmPurchase", Url.Action("ConfirmPurchase", "User", new { id = Model.Id }), new { id = "confirmPurchaseLink" })

<div class="row book-meta">
    <div class="col-sm-8">
        <img class="img-responsive" src="@Model.CoverUrl" align="left" />
        <h1>
            @Model.Title
        </h1>
        <h4>
            @Model.Author
        </h4>
        <p><b>Catégorie :</b> @Model.Category</p>
        <p><b>ISBN :</b> @Model.ISBN</p>
        <p><b>Année :</b> @Model.Year</p>
        <p><b>Pages :</b> @Model.NbPages</p>
        @Html.DisplayFor(m => m.Rating)
    </div>
    <div class="col-sm-4 panel panel-default">
        <div class="panel-body">
            
            @if (Request.IsAuthenticated)
            {
                if (!Model.IsOwned)
                {
                    <h4>
                        <b>@Html.DisplayFor(m => m.Price)</b>
                    </h4>
                    <div id="paypal-button-container"></div>
                }
                else
                {
                    using (Html.BeginForm("DownloadBook", "User", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.DlLink)
                        <button class="btn btn-default" type="submit">Télécharger</button>
                    }
                }


            }
            else
            {
                <h4>
                    <b>@Html.DisplayFor(m => m.Price)</b>
                </h4>
                <p>Vous n'êtes pas connecté.<br />
                @Html.ActionLink("Se connecter", "Login", "User")</p>
            }
        </div>
    </div>
</div>
<hr />
<p>@Model.Description</p>

